# Packages installer
conda
go
snap

# Terminal emulator
bash-completion
alacritty # bash emulator
zellij # workspace
hyperland # make color tool =)))

# DevOps 
docker
helm
kubectl

# os packages
curl 
wget
fio