# Packages installer
conda
go
snap

# os packages
curl 
wget
fio

# Terminal emulator
bash-completion
alacritty # bash emulator
zellij # workspace

# Code
code # prefer snap version

# DevOps 
docker
helm
kubectl
