# Packages installer
conda
go
snap

# os packages
curl 
wget
fio

# Terminal emulator
bash-completion
guake # dropdown terminal
zellij # workspace
starship

# Code
code # prefer snap version

# DevOps 
docker
helm
kubectl
