// pane_frames true
ui {
    pane_frames {
        hide_session_name false
    }
}
simplified_ui false

theme "catppuccin-mocha"
default_layout "custom"

mouse_mode true
copy_command "xclip -selection clipboard" 
copy_clipboard "primary"
copy_on_select true