#!/bin/bash
function dotenv() {
    ############################
    # Load env from .env files #
    ############################

    if [ "$#" == 0 ]; then echo "ERROR: Missing env files"; exit 1; fi

    linesExceptCommentOrBlankLines() {
        cat ${i} | grep -v "^#" | grep -v "^[[:space:]]*$"
    }
    validRegex="^([\w]+)=(([^# \"\']*)|\"(.*)\"|\'(.*)\')( *)$"

    for i in $@; do
        # Check valid of env file
        if [ $( linesExceptCommentOrBlankLines | grep -vP "$validRegex" | wc -l) != "0" ]; then
            # If not include '='
            echo "ERROR: Invalid syntax in '${i}':"
            linesExceptCommentOrBlankLines | grep -vP "$validRegex" | sed 's/^/  * /'
            continue
        elif [ $( linesExceptCommentOrBlankLines | grep -P "$validRegex" | wc -l) == "0" ]; then
            echo "WARN: Blank env file - '${i}'"
            continue
        fi

        # Get envs from env file
        echo Get env from $i:
        linesExceptCommentOrBlankLines | grep -P "$validRegex" | sed 's/^/  * /'

        while read line; do 
            export "$line"
        done < <(linesExceptCommentOrBlankLines)
    done
}